<main>
<img src='https://scontent-mia3-2.xx.fbcdn.net/v/t1.6435-9/82079630_10218914285842633_5125927044097507328_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=fgpaihXz-ioAX-aHrIl&tn=H90izZPf-Mtyua6n&_nc_ht=scontent-mia3-2.xx&oh=f708793e6e7dd997fe22d3c0d3110df9&oe=6180E12F' alt="Picture of me" width=100%>
<p>I'm Vicki. I studied at SDG and now I work at Kin. </p>
</main>