<main> 
<img src="https://res.cloudinary.com/sdgvicki/image/upload/v1633447487/codecademy/Screen_Shot_2021-10-05_at_11.20.15_AM_ijde58.png" alt="Threadly Project" width=100%>
<p>Main Section</p>
</main>